<%= form_for(@order, url: customer_orders_path, as: :customer_order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation" class="row">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul class="list">
              <% @order.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :full_name, class: 'form-control', placeholder: 'Your full name' %>
    </div>
    <div class="form-group">
      <%= f.text_field :phone, class: 'form-control', placeholder: 'Your phone number' %>
    </div>
    <div class="form-group">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Your email address' %>
    </div>
    <div class="form-group">
      <%= f.text_area :address, class: 'form-control', placeholder: 'Your address' %>
    </div>
    <div class="form-group">
      <%= f.text_field :city, class: 'form-control', placeholder: 'Your city' %>
    </div>
    <div class="form-group">
      <%= f.text_field :country, class: 'form-control', placeholder: 'Your country' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Confirm my order', class: 'btn btn-success' %>
      <%= link_to root_url do %>
          <%= button_tag 'Cancel', class: 'btn btn-danger' %>
      <% end %>
    </div>
<% end %>
