<p id="notice"><%= notice %></p>

<h1>Listing Customer Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_orders.each do |customer_order| %>
      <tr>
        <td><%= link_to 'Show', customer_order_path(customer_order) %></td>
        <td><%= link_to 'Edit', edit_customer_order_path(customer_order) %></td>
        <td><%= link_to 'Destroy', customer_order_path(customer_order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_customer_order_path %>
