<div class="w-section section" id="features">
  <div class="w-container">
    <h2>How Dhopers Works</h2>

  </div>
  <div class="w-container how-it-works">
    <div class="w-row feature-row">
      <div class="w-col w-col-4">
        <img src="<%= asset_path('clock-icon.png') %>" width="108" data-ix="fade-in-on-scroll" style="opacity: 0; transform: translateX(0px) translateY(24px);">

        <h3 class="hit">Place Order</h3>

        <p class="hit">Easily put your order on dhopers bucket. Sit back and relax.</p>
      </div>
      <div class="w-col w-col-4">
        <img src="<%= asset_path('55b170d43f62d8dd4776c590_truck1.jpg') %>" width="125" data-ix="fade-in-on-scroll" style="opacity: 0; transform: translateX(0px) translateY(24px);">

        <h3 class="hit">We Pick up</h3>

        <p class="hit">We bring personal bags, pick up your laundry, and get it sorted within 24 hours.</p>
      </div>
      <div class="w-col w-col-4">
        <img src="<%= asset_path('55b176ab3f62d8dd4776c616_hanger.png') %>" width="114" data-ix="fade-in-on-scroll" style="opacity: 0; transform: translateX(0px) translateY(24px);">

        <h3 class="hit">Enjoy Clean Clothes</h3>

        <p class="hit">Your clean clothes are back with you, so that you can focus on what really matters.</p>
      </div>
    </div>
  </div>
</div>
<div class="w-section section purple" id="pricing">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6">

      </div>
      <div class="w-col w-col-6">
        <h1 class="download-heading color">Clean is just one tap Ahead</h1>

        <p class="download-paragraph">Say goodbye to laundry day!&nbsp;We take care of your washing and deliver&nbsp;squeaky
          clean, ready to put away&nbsp;laundry, ironing &amp; dry cleaning.</p>

        <div class="w-row">
          <div class="w-col w-col-6">
            <a class="w-inline-block androidlink" href="#" target="_blank">
              <img src="<%= asset_path('55b27acbf6fb61c155b5d8f2_android.png') %>" width="215">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-section section" id="customers">
  <div class="w-container">
    <h2>What People Say About Us</h2>

    <div class="w-slider testimonial-slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask">
        <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
          <p class="testimony-text">"This idea is so cool! It actually solves every one’s problem; getting the laundry
            done. dhopers is available for Android Play Store"</p>
          <img class="person" src="<%= asset_path('55ddaf16a6944873333227e7_pico.png') %>" width="88">

          <div class="name">Linkon Islam</div>
          <div class="title">Dhanmondi, Dhaka</div>
        </div>
        <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
          <p class="testimony-text">"Just got my dry cleaning back from @dhopersApp. Very impressed with the service,
            and reasonable price. Will definitely be using them again."</p>
          <img class="person" src="<%= asset_path('55ddb4f20cb6665b58e8ebf8_400.jpg') %>" width="200">

          <div class="name">khaled Saifullah</div>
          <div class="title">Mohammadpur, Dhaka</div>
        </div>
        <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
          <p class="testimony-text">"First time I've used it and they picked up on time and dropped off on time as
            promised. Breath of fresh air compared to the local one I've tried a few times. I'm a convert."</p>
          <img class="person" src="<%= asset_path('55ddbb94a694487333322bcb_nassif.jpg') %>" width="87">

          <div class="name">Shahrier Shuvo</div>
          <div class="title">Dhanmondi, Dhaka</div>
        </div>
      </div>
      <div class="w-slider-arrow-left slider-arrow">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right slider-arrow">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round slide-nav">
        <div class="w-slider-dot w-active" data-wf-ignore=""></div>
        <div class="w-slider-dot" data-wf-ignore=""></div>
        <div class="w-slider-dot" data-wf-ignore=""></div>
      </div>
    </div>
  </div>
</div>
<div class="w-section section clients">
  <div class="w-container">
    <h2 class="features-title">Premium, High quality Dry Cleaning</h2>
  </div>
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-3">
        <h1 class="features">24-48 hours turn around</h1>

        <p class="hit feat">Our drivers &amp; cleaning services work around the clock to provide you with a fast and
          reliable service.</p>
      </div>
      <div class="w-col w-col-3">
        <h1 class="features">Premium quality</h1>

        <p class="hit feat">We take care of your washing and deliver squeaky clean,ready to put away&nbsp;laundry,
          ironing &amp; dry cleaning.</p>
      </div>
      <div class="w-col w-col-3">
        <h1 class="features">Eco-friendly</h1>

        <p class="hit feat">We use re-usable bags, green cleaning materials &amp; keep our carbon footprint down with
          low emission cars &amp; economical routing.</p>
      </div>
      <div class="w-col w-col-3">
        <h1 class="features">Convenient hours</h1>

        <p class="hit feat">Our drivers are on call all day, so you never miss a pick up or drop off.</p>
      </div>
    </div>
  </div>
</div>
